body{
    background-color: #d3e2df;
}

hr{
    background-color: none;
    border-style: dotted none none;
    height: 2px;
    border-width: 5px;
    width: 5%;
    border-color: gray;
}

td img{
    border-radius: 50px;
}

h1, h3{
    color: #66BFBF;
}